DEBUG_LOG=true
DEFAULT_LANGUAGE=en

# CHOICE
## IDlE
DEFAULT_CHOICE_IDLE_PREFIX=❯
DEFAULT_CHOICE_IDLE_COLOR=yellow
DEFAULT_CHOICE_IDLE_ITALIC=true
DEFAULT_CHOICE_IDLE_UNDERLINE=true
## HOVER
DEFAULT_CHOICE_HOVER_PREFIX=☆
DEFAULT_CHOICE_HOVER_COLOR=cyan
DEFAULT_CHOICE_HOVER_ITALIC=true
DEFAULT_CHOICE_HOVER_UNDERLINE=true
## SELECTED
DEFAULT_CHOICE_SELECTED_PREFIX=★
DEFAULT_CHOICE_SELECTED_COLOR=green
DEFAULT_CHOICE_SELECTED_ITALIC=true
DEFAULT_CHOICE_SELECTED_UNDERLINE=true